{% extends 'layouts/default.njk' %}

{% block givinghead %}

{% endblock givinghead %}

{% block content %}

<div class="page">
    <!-- Intro-->
<!-- About-->
<a name="partyOnWayne" />
{% include "partials/stats.njk" %}
<!-- Features-->
<a name="partyOnGarth" />

{% include "partials/model.njk" %}
{% include "partials/process.njk" %}
<a name="partyOnWayne2" />

{% include "partials/services.njk" %}
{% include "partials/testimonials.njk" %}
{% include "partials/clients.njk" %}
<a name="partyOnGarth2" />

<!-- Our partners-->
<!-- Get in touch-->
</div>
{% endblock content %}