<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <base href="./">
    <title>Cthulu - Quit Ducking Around</title>
    <meta property="og:title" content="Cthulu - Quit Ducking Around" />
    <meta name="twitter:title" content="Cthulu - Quit Ducking Around" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <!-- Compressed Styles -->
    <link href="/assets/vendors/slide/css/slides.min.css" rel="stylesheet" type="text/css">

    
    <!-- Fonts and Material Icons -->
    <link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Material+Icons&display=swap"/>
      <link href="/assets/css/styles.css" rel="stylesheet">
  <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/min.min.css" rel="stylesheet">

</head>
<body class="slides animated noPreload">

<picture>
<source type="image/svg+xml" srcset="/assets/img/logos/logo-stacked-white-and-purple.svg" />
<source type="image/png" srcset="/assets/img/logos/logo-stacked-white-and-purple@3x.png" />
<img class="homelogo" src="/assets/img/logos/logo-stacked-white-and-purple@3x.png" />
</picture>
<nav class="side ">
  <div class="navigation default">
    <ul></ul>
  </div>

</nav><!-- White Slide 1 (#28) -->

<section class="slide ">

  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex verticalCenter later reverse">
         <div class="col-sm-5">   <li class="left">
                                <h1 class="ae-1 fromLeft smaller margin-bottom-2">Hi. <br />We need to talk.</h1>

              <div class="offset-xxs">
 <p class="biggest ae-1 fromLeft">It's about your marketing and sales strategy again... It's
                                            been... underwhelming.
                                        </p>                    </div>

<div class="slidebtnholder">
                                            <a class="slidebtn ae-3 fromCenter crop margin-top-1" href="#partyOnWayne">Your Curiosity Compels You</a></div>
                                                                                <div class="slidebtnholder">
        <a class="slidebtn ae-3 fromCenter crop margin-top-1 tinybtn anudgefromthetop">Skip the Theatrics</a></div>

            </li></div><div class="col-sm-7">
            <li class="cell-28 ae-1">
            <picture>
                                        <source type="image/webp" srcset="/assets/img/renderings/image-1@2x.webp" />
                                        <source type="image/png" srcset="/assets/img/renderings/image-1@2x.png" />
                                        <img class="iphone-28" alt="iPhone Thumbnail" data-action="zoom" width="600" src="/assets/img/renderings/image-1@2x.png" />
                                    </picture>
            </li></div>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  
</section>

<!-- White Slide 2 (#29) -->
<section class="slide ">
<a name="partyOnWayne"></a>
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex verticalCenter later">
            <li class="col-5-12 ae-1 cell-29">
              <img width="360" src="assets/img/iphone-29.png" class="iphone-29" alt="iPhone Thumbnail" data-action="zoom"/>
            </li>
            <li class="col-7-12 left">
              <h1 class="smaller margin-bottom-2 ae-1 fromLeft">Every great design begins with an even better&nbsp;story</h1>
              <p class="large ae-2 fromLeft"><span class="opacity-8">I don't start with a design objective, I start with a communication objective. I feel my project is successful if it communicates what it is supposed to&nbsp;communicate.</span></p>
              <a class="slidebtn">Start free trial</a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  
</section>
<!-- White Slide 3 (#28) -->
<section class="slide ">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex verticalCenter later reverse">
            <li class="col-7-12 left">
              <h1 class="smaller margin-bottom-2 ae-1 fromLeft">A camel is a horse designed by&nbsp;committee</h1>
              <p class="large ae-2 fromLeft"><span class="opacity-8">I don't start with a design objective, I start with a communication objective. I feel my project is successful if it communicates what it is supposed to&nbsp;communicate.</span></p>
              <a class="button blue rounded ae-3 fromCenter crop margin-top-1">Start free trial</a>
            </li>
            <li class="col-5-12 cell-28 ae-1">
              <img src="assets/img/iphone-28.png" width="360" class="iphone-28" alt="iPhone Thumbnail" data-action="zoom"/>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  
</section>
<!-- White Slide 4 (#29) -->
<section class="slide ">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex verticalCenter later">
            <li class="col-5-12 ae-1 cell-29">
              <img width="360" src="assets/img/iphone-29.png" class="iphone-29" alt="iPhone Thumbnail" data-action="zoom"/>
            </li>
            <li class="col-7-12 left">
              <h1 class="smaller margin-bottom-2 ae-1 fromLeft">Every great design begins with an even better&nbsp;story</h1>
              <p class="large ae-2 fromLeft"><span class="opacity-8">I don't start with a design objective, I start with a communication objective. I feel my project is successful if it communicates what it is supposed to&nbsp;communicate.</span></p>
              <a class="button blue rounded ae-3 fromCenter crop margin-top-1">Start free trial</a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  
</section>
<!-- White Slide 5 (#22) -->
<section class="slide ">
  <div class="content">
    <div class="container">
      <div class="wrap">
        
      
        <div class="fix-7-12">
          <h1 class="ae-1 fromCenter">Heart of the image</h1>

          <!-- slider -->
          <ul class="slider rounded margin-top-4 autoHeight clickable shadow ae-1" data-slider-id="22-5">
            <li class="wide selected"><img src="assets/img/gallery-22-1.jpg" class="wide" alt="Image"/></li>
            <li class="wide"><img src="assets/img/gallery-22-2.jpg" class="wide" alt="Image"/></li>
            <li class="wide"><img src="assets/img/gallery-22-1.jpg" class="wide" alt="Image"/></li>
            <li class="wide"><img src="assets/img/gallery-22-2.jpg" class="wide" alt="Image"/></li>
          </ul>
        
          <!-- controller -->
          <ul class="controller dots ae-3 margin-top-3" data-slider-id="22-5">
            <li class="dot selected"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
          </ul>
      	</div>

      </div>
    </div>
  </div>
  
</section>
<!-- White Slide 6 (#16) -->
<section class="slide ">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex fixedSpaces reverse">
            <li class="col-5-12 left">
              <h1 class="margin-top-1 margin-bottom-2 ae-1 fromLeft">Great design is transparent</h1>
              <p class="large ae-2 fromLeft"><span class="opacity-8">A chair is the first thing you need when you don&rsquo;t really need anything, and is therefore a peculiarly compelling symbol of&nbsp;civilization.</span></p>
              <a href="#" class="button blue rounded crop ae-3 fromCenter">Get Started</a>
            </li>
            <li class="col-1-12"></li>
            <li class="col-6-12">
              <div class="videoThumbnail rounded shadow popupTrigger ae-4 fromCenter margin-bottom-tablet-4" data-popup-id="16-6">
                <img class="wide" src="assets/img/video-16.jpg" alt="Video Thumbnail"/>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="16-6">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="embedVideo popupContent shadow rounded">
            <iframe data-src="https://www.youtube.com/embed/g8yBqxTiHSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery 3.5.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Compressed Scripts -->
    <script src="/assets/vendors/slide/js/slides.min.js" type="text/javascript"></script>

</body>
</html>