p.rights {#6c5ba7
	color: rgba(107, 111, 119, 0.7);
}

p.rights a {
	color: inherit;
}

p.rights a:hover {
	color: #6c5ba7;
}

* + p.rights {
	margin-top: 1.25rem;
}

.row + p.rights {
	margin-top: 2.5rem;
}
