<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/18c973bb79.js" crossorigin="anonymous"></script>
            <script src="/assets/js/sidebar.js" type="text/javascript"> </script>
                        <script src="/assets/components/base/script.js" type="text/javascript"> </script>
                                    <script src="/assets/components/base/core.min.js" type="text/javascript"> </script>
