<footer>   <section class="section section-lg" id="contacts">
        <div class="container">
          <div class="row row-30 align-items-xl-center justify-content-xxl-between">
            <div class="col-lg-6">
              <h2>READY TO TAME YOUR MARKETING MONSTERS?</h2>
              <p class="bigger">We are located in the better half of our namesake, the City of Oaks, Raleigh, NC.</p>
<div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/1yq98v6TP6gADuI8HH8xmCsXzjZzL4SPZD4Oq8US2hxLNN9hBMQYtpKWAGIBw7ald"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
            </div>
            <div class="col-lg-6 col-xxl-5">
              <div class="box px-xl-3 px-xxl-4">
                <div class="row row-30">
                  <div class="col-md-6 col-lg-12 col-xl-6">
                    <h4>Get The Scoop:</h4>
                    <div class="group-30 offset-sm"><a class="btn pl-1" href="https://www.facebook.com/oakwaveco"><span class="btn-icon icon icon-round icon-md icon-primary icon-style-3"><img class="mdi-custom tiny-icon" src="/assets/img/icon/Facebook.svg"></span></a><a class="btn pl-1" href="https://www.linkedin.com/company/oakwave"><span class="btn-icon icon icon-round icon-sm icon-primary icon-style-3"><img class="mdi-custom tiny-icon" src="/assets/img/icon/linked.svg"></span></a><a class="btn pl-1" href="https://www.twitter.com/oakwaveco"><span class="btn-icon icon icon-round icon-sm icon-primary icon-style-3"><img class="mdi-custom tiny-icon" src="/assets/img/icon/twitter.svg"></span></a><a class="btn pl-1" href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fwww.oakwave.com%2Fblog%2Frss%2F"><span class="btn-icon icon icon-round icon-sm icon-primary icon-style-3"><img class="mdi-custom tiny-icon" src="/assets/img/icon/rss.svg"></span></a></div>
                  </div>
                  <div class="col-md-6 col-lg-12 col-xl-6">
                    <h4>Contacts:</h4>
                    <table class="table table-sm table-responsive-xl table-no-bordered bigger">
                      <tbody>
                        <tr>
                          <td class="text-right text-600 pl-0 align-middle">Ph.</td>
                          <td><a class="tinyfootertext link-inherit" href="tel:#">1-919-823-4333</a></td>
                        </tr>
                        <tr>
                          <td class="text-right text-600 pl-0">Mail.</td>
                          <td><a class="tinyfootertext link-inherit" href="mailto:#">hello@oakwave.com</a></td>
                        </tr>
                        <tr>
                          <td class="text-right text-600 pl-0">Office.</td>
                          <td class="tinyfootertext">10324 Baileywick Raleigh, NC 27613</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr class="divider">
                <div class="group-20 d-flex flex-wrap align-items-center justify-content-between">
                  <div>
                    <!-- Copyright-->
                    <p class="rights bigger"><span>© 2020.</span><span>OAKwave</span><span>. All rights reserved</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section></footer>