<!-- Features-->
      <section class="section section-lg">
        <div class="blurb-creative-wrap">
          <svg class="image-svg position-absolute d-none d-xl-block" style="top: 0; left: 0" width="1920" height="412" viewBox="0 0 1920 412" fill="none">
            <path opacity="0.3" d="M0 235.992C0 235.992 178.218 424.558 319.5 410.5C460.782 396.442 564.476 269.165 722.686 263.543C880.895 257.921 977.722 429.791 1147 391C1316.28 352.209 1486.6 58.563 1920 1" stroke="#6B6F77"></path>
          </svg>
          <div class="container">
            <h2 class="blurb-creative-heading">
Our Client Experience              <br>
            </h2>
            <div class="row row-30">
              <div class="col-sm-6 col-lg-3 blurb-creative-item">
                      <!-- Blurb creative-->
                      <article class="blurb blurb-creative blurb-creative-1">
                        <div class="blurb-embed"><span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-cursor-default"></span></div>
                        <div class="blurb-body">
                          <div class="blurb-title h5"><span class="text-primary">01.</span> Let's Talk It Out</div>
                          <div class="blurb-text">See if you like us, we'll see if we like you, then mutually, we will decide if we are compatible.</div>
                        </div>
                      </article>
              </div>
              <div class="col-sm-6 col-lg-3 blurb-creative-item">
                      <!-- Blurb creative-->
                      <article class="blurb blurb-creative blurb-creative-2">
                        <div class="blurb-embed"><span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-settings"></span></div>
                        <div class="blurb-body">
                          <div class="blurb-title h5"><span class="text-primary">02.</span> Skeletons in the closet</div>
                          <div class="blurb-text">Once the administrative stuff is knocked out, we hold a grueling discovery session where we get to know your organization and all of its dark past.</div>
                        </div>
                      </article>
              </div>
              <div class="col-sm-6 col-lg-3 blurb-creative-item">
                      <!-- Blurb creative-->
                      <article class="blurb blurb-creative blurb-creative-3">
                        <div class="blurb-embed"><span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-chart-arc"></span></div>
                        <div class="blurb-body">
                          <div class="blurb-title h5"><span class="text-primary">03.</span>Don't hit me, but...</div>
                          <div class="blurb-text">Halfway through our project, we check your pulse on our general direction to ensure we haven't completely missed the mark.</div>
                        </div>
                      </article>
              </div>
              <div class="col-sm-6 col-lg-3 blurb-creative-item">
                      <!-- Blurb creative-->
                      <article class="blurb blurb-creative blurb-creative-4">
                        <div class="blurb-embed"><span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-rocket"></span></div>
                        <div class="blurb-body">
                          <div class="blurb-title h5"><span class="text-primary">04.</span> I'll show you mine...</div>
                          <div class="blurb-text">Our strategy presentation is our flagship product, and one that is incomparable to anything on the market today.</div>
                        </div>
                      </article>
              </div>
            </div>
          </div>
        </div>
      </section>