
<picture>
<source type="image/webp" srcset="/assets/img/logos/logo-stacked-white-and-purple.webp" />
<source type="image/svg+xml" srcset="/assets/img/logos/logo-stacked-white-and-purple.svg" />
<source type="image/png" srcset="/assets/img/logos/logo-stacked-white-and-purple@3x.png" />
<img class="logo" src="/assets/img/logos/logo-stacked-white-and-purple@3x.png" />
</picture>
<div class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 1</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 2</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 3</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 4</a></li>
  </ul>
</div>