
      <!-- Intro-->
      <section class="section" id="home">
        <div class="container">
          <div class="swiper-container swiper-pagination-creative" data-swiper='{"scrollbar":{"el":""},"loop":true,"autoplay":{"delay":5000,"disableOnInteraction":false},"breakpoints":{"320":{"autoplay":false},"1200":{"autoplay":{"delay":5000,"disableOnInteraction":false}}}}'>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="row align-items-center justify-content-lg-center flex-md-row-reverse">
                  <div class="col-sm-6 text-md-center">
                  </div>
                  <div class="col-sm-5">
                    <h1>Hi. <br />We need to talk.</h1>
                    <div class="offset-xxs">
 <p class="biggest">It's about your marketing and sales strategy again... It's
                                            been... underwhelming.
                                        </p>                    </div>
                    <div class="offset-sm">
                      <div class="group-30 offset-sm"><a class="btnbox effect-shine" href="#partyOnWayne">Your Curiosity Compels You</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row align-items-center justify-content-lg-center flex-md-row-reverse">
                  <div class="col-sm-7 col-lg-1  text-md-center">    <picture>
                                        <source type="image/webp" srcset="/assets/img/renderings/image-2@2x.webp" />
                                        <source type="image/png" srcset="/assets/img/renderings/image-2@2x.png" />
                                        <img class="slidealong" width="600" src="/assets/img/renderings/image-2@2x.png" />
                                    </picture>

                  </div>
                  <div class="col-md-7 col-lg-6 col-xxl-5 offset-xl-1">
                    <h1>WHY DO YOU KEEP YOUR FEELINGS ALL BOTTLED UP?</h1>
                    <div class="offset-xxs">
                      <p class="biggest">You just want a solution that doesn’t give you more headaches than it gives you
                    in actual acquisitions and makes more money for you than it costs.</p>
                    </div>
                    <div class="offset-sm">
                      <div class="group-30 offset-sm"><a class="btnbox effect-shine" href="#partyOnGarth">There, there.  Let it out.</a></div>
                    </div>
                  </div>
                </div>
              </div>

               <div class="swiper-slide">
                <div class="row align-items-center justify-content-lg-center flex-md-row-reverse">
                  <div class="col-md-5 col-lg-4 offset-xxl-1 text-md-center">

                  <picture>
                                        <source type="image/webp" srcset="/assets/img/renderings/image-3@2x.webp" />
                                        <source type="image/png" srcset="/assets/img/renderings/image-3@2x.png" />
                                        <img class="slidealong" width="600" src="/assets/img/renderings/image-3@2x.png" />
                                    </picture>


                  </div>
                  <div class="col-md-7 col-lg-6 col-xxl-5 offset-xl-1">
                            <h1>WE KEEP IT 💯.</h1>
                    <div class="offset-xxs">
                   <p class="biggest">Hands down, we are the most resourceful, creative, problem-solving
                                    marketing
                                    geniuses you will ever find. We’re really, really good at campaign concepts,
                                    branding, content,
                                    and strategy... and really, really bad at corporate frills, small talk, and sending
                                    Christmas
                                    cards.</p>
                    </div>
                    <div class="offset-sm">
                      <div class="group-30 offset-sm"><a class="btnbox effect-shine" href="#partyOnGarth2">You want us.  And that's okay.</a></div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="swiper-slide">
                <div class="row align-items-center justify-content-lg-center flex-md-row-reverse">
                  <div class="col-md-5 col-lg-4 offset-xxl-1 text-md-center">    <picture>
                                        <source type="image/webp" srcset="/assets/img/renderings/image-4@2x.webp" />
                                        <source type="image/png" srcset="/assets/img/renderings/image-4@2x.png" />
                                        <img class="slidealong" width="600" src="/assets/img/renderings/image-4@2x.png" />
                                    </picture>

                  </div>
                  <div class="col-md-7 col-lg-6 col-xxl-5 offset-xl-1">
                    <h1>YOU’VE BEEN LOOKING FOR US FOR A LONG TIME.</h1>
                    <div class="offset-xxs">
                      <p class="biggest">We're marketers, strategists, workhorses, consultants, and most
                                        likely the last
                                        folks standing in a zombie apocalypse.</p>
                    </div>
                    <div class="offset-sm">
                      <div class="group-30 offset-sm"><a class="btnbox effect-shine" href="#partyOnWayne2">Let's fight the horde together.</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

